{
  "extends": "jason/react",
  "parser": "babel-eslint",
  "plugins": ["react-hooks"],
  "globals": {
    "__DEV__": false
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
